//_footer.scss

.footer {
    padding: 10px 0;
    text-align: center;
    background: $coul2;
    font-size: 0.8em;
    color:white;
    position: relative;
    
    a {
        color: white;
        text-decoration: none;
        
        img {
         max-width:20px;   
            
        }
    }
    
    ul {
     list-style: none;
        
        li {
            margin: 0 5%;
            display: inline-block;
            
            img {
             margin-right: 10px;   
            }
        }
    }
    
    .lang {
  position: absolute;
  right: 5%;
  top: 25px;
}
    
}