//_menu.scss

.logo {
    img {
     width: 80%;
        min-width:183px;
    }
}
.menu {
    
    padding: 50px 20px;
    text-align: right;
    ul {
    padding:0;
    margin:0;
    display: inline-block;
    }
    
    li {
       float:left;
        display: block;
        margin:0 30px;
        font-size: 1em;
        font-weight: lighter;
        
        a {
            text-decoration: none;
        }
    }
    
}