//_teaser.scss

// HOMEPAGE ***********************************

.teaser {   
    height: 43vw;
    position:relative;
    overflow: hidden;
    min-height: 520px;
    background:#000000;
 
    .slider {
        .bg1 {
    background: url('images/bg1.jpg') no-repeat center bottom;
    background-size:cover;
    height: 43vw;
    min-height: 520px;
        }
            .bg2{
            @extend .bg1;
            background: url('images/bg2.jpg') no-repeat scroll center bottom / cover;
    
        }
        
           .bg3{
               @extend .bg1;
                background: url('images/bg3.jpg') no-repeat scroll center bottom / cover;
 
        }
    }
        
    
    .form-teaser {
        background:rgba(0,0,0,0.5);
        text-align: center;
        height:100%;
        color:white;
        padding-top: 5vh;
        position: absolute;
        top:0;
        left: 0;
        z-index: 40;
        min-width: 220px;
        form {
               display: inline-block;
    max-width: 80%;
    text-align: left;
        }
        
        
         input[type=text], 
input[type=password], 
input[type=email], 
input[type=search], 
input[type=tel], input[type=submit],
textarea {
background:none;
    border:1px solid white;
    color:white;
   width: 100%;
    transition:all 300ms ease-in-out;
        }
    
        ::-webkit-input-placeholder { /* WebKit browsers */
    color:  white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white;
}
  textarea:focus {
         width:200%;   
        }
    
    }
}

        



// INNER PAGES ***********************************

 input[type=text], 
input[type=password], 
input[type=email], 
input[type=search], 
input[type=tel], input[type=submit],
textarea {
background:none;
    border:1px solid $coul2;
    color:$coul1;
   width: 80%;
    min-width: 200px;
    transition:all 300ms ease-in-out;
        }

    input[type=submit] {
         background:$default-button-color !important;
         color:white;
            border-radius: 5px;
            padding:5px 10px;
            font-size: 0.8em;
            margin: 10px 0;
            }
textarea {
 height:100px;   
}
  textarea:focus {
         height:20vh;   
        }

      
.teaser {

    &.history {
        height: 15vw;
        position:relative;
        overflow: hidden;
        min-height:0;
        background:#000000;
        background: url('images/bg_history.jpg') no-repeat fixed center center / cover;
}
  
     &.surroundings {
        @extend .history;
         background: url('images/bg_surroundings.jpg') no-repeat fixed center top / 100%;
    }
      &.ecotourism {
        @extend .history;
 background: url('images/bg_ecotourism.jpg') no-repeat fixed center top / 100%;
    }
      &.activities {
        @extend .history;
 background: url('images/bg_activities.jpg') no-repeat fixed center top / 100%;
    }
      &.booking {
        @extend .history;
 background: url('images/bg_booking.jpg') no-repeat fixed center top / 100%;
    }
      &.contact {
        @extend .history;
 background: url('images/bg_history.jpg') no-repeat fixed center top / 100%;
    }
}

